# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the development branch
  push:
    branches: [ development ]
  pull_request:
    branches: [ development ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: macos-latest
    env:
      XC_VERSION: ${{ '12.3' }}
      XC_PROJECT: ${{ 'Edomi.xcodeproj' }}
      XC_SCHEME: ${{ 'Edomi' }}
      
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Select latest Xcode
        run: "sudo xcode-select -s /Applications/Xcode_$XC_VERSION.app"  
            
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        
      - name: Build project
        run: /usr/bin/xcodebuild -UseModernBuildSystem=0 -project "$XC_PROJECT" -scheme "$XC_SCHEME" -sdk iphoneos -configuration Development archive -archivePath $PWD/build/Edomi.xcarchive CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO

      - name: Show output
        run: ls -lisa
      
