# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
    - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: macos-latest
    env:
      XC_VERSION: ${{ '12.3' }}
      XC_PROJECT: ${{ 'Edomi.xcodeproj' }}
      XC_SCHEME: ${{ 'Edomi' }}
      
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Select latest Xcode
        run: "sudo xcode-select -s /Applications/Xcode_$XC_VERSION.app"  
            
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        
      - name: Build project
        run: /usr/bin/xcodebuild -UseModernBuildSystem=0 -project "$XC_PROJECT" -scheme "$XC_SCHEME" -sdk iphoneos -configuration Development archive -archivePath $PWD/build/Edomi.xcarchive CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO

      - name: Show output
        run: ls -lisa
      
      - name: Create unsigned IPA file
        run: mkdir Payload; mv $PWD/build/Edomi.xcarchive/Products/Applications/Edomi.app ./Payload; zip -r Edomi-unsigned.ipa Payload;
        
      - name: Show output
        run: ls -lisa

      - name: Generate changelog
        id: changelog
        uses: metcalfc/changelog-generator@v0.4.4
        with:
          myToken: ${{ secrets.GITHUB_TOKEN }}
    
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          body: ${{ steps.changelog.outputs.changelog }}
          draft: false
          prerelease: false
        
      - name: Upload Release Asset
        id: upload-release-asset 
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }} # This pulls from the CREATE RELEASE step above, referencing it's ID to get its outputs object, which include a `upload_url`. See this blog post for more info: https://jasonet.co/posts/new-features-of-github-actions/#passing-data-to-future-steps 
          asset_path: ./ Edomi-unsigned.ipa
          asset_name: Edomi-unsigned.ipa
          asset_content_type: application/zip 
    
